@import url("https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Satoshi", sans-serif;
}

body {
  background-color: #1d1d1d;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 50px;
  height: 80px;
  border-bottom: 1px solid #fed5d1;
}

.nav h2 {
  flex: auto;
  color: #fed5d1;
  font-weight: 600;
  font-family: "Lexend Zetta", sans-serif;
}

.btn {
  text-decoration: none;
  color: #fed5d1;
  background-color: #1d1d1d;
  padding: 6px 10px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border: 1px solid #fed5d1;
  border-radius: 10px;
  transition: background-colour 0.3s ease;
  transition: transform 0.3s;
}

.btn:hover {
  transform: scale(1.1);
  background-color: #fed5d1;
  color: #1d1d1d;
}

.nav-icon {
  text-decoration: none;
  color: #fed5d1;
  padding: 6px 15px;
  border: none;
  font-size: 40px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.nav-icon:hover {
  transform: scale(1.2);
}

.hero {
  height: 90vh;
  display: flex;
}

.content {
  width: 50%;
  display: flex;
  flex-direction: column;
}

h1 {
  color: #fed5d1;
  background-color: #1d1d1d;
  font-size: 100px;
  font-family: "Panchang", sans-serif;
}

.headlines,
.about {
  margin: 10px 0 10px 50px;
}

.about p {
  color: #fed5d1;
  background-color: #1d1d1d;
  font-size: 20px;
  text-align: justify;
}

.illustration {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.illustration img {
  height: 500px;
}

.skill-interest {
  /* height: 50vh; */
  display: flex;
  margin-top: 20px;
}

.skill,
.interest {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.skill,
.interest {
  align-items: center;
}

.skill > h2,
.interest > h2 {
  color: #fed5d1;
  font-size: 50px;
}

.skill-icons {
  margin-top: 20px;
  height: 100%;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.skill-icons > .bx {
  color: #fed5d1;
  font-size: 50px;
}

.interest > h2 {
  margin-bottom: 20px;
}

.interest > p {
  color: #fed5d1;
  font-size: 20px;
  margin-bottom: 10px;
}

.contact {
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact > h2 {
  color: #fed5d1;
  font-size: 50px;
  margin-bottom: 20px;
}

.contact-icons {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.contact-icons i {
  color: #fed5d1;
  font-size: 50px;
}

.contact-icons > a {
  text-decoration: none;
  transition: transform 0.3s;
}

.contact-icons > a:hover {
  transform: scale(1.2);
}

.footer {
  border-top: 1px solid #fed5d1;
  padding-top: 30px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer p {
  font-family: "Lexend Zetta", sans-serif;
  color: #fed5d1;
  margin-bottom: 20px;
}

.footer a {
  text-decoration: none;
  color: #6e90b5;
  font-size: 12px;
}

.footer a:hover {
  text-decoration: underline;
}

@media (max-width: 850px) {
  .nav {
    padding: 0 20px;
  }

  .btn {
    font-size: 12px;
  }

  .nav-icon {
    font-size: 35px;
  }

  .hero {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .content {
    width: 100%;
  }

  .headlines {
    margin-left: 0;
    text-align: center;
  }

  h1 {
    font-size: 50px;
  }

  .about {
    margin: 10px 20px 10px 20px;
  }

  .about p {
    text-align: center;
    font-size: 16px;
  }

  .illustration {
    width: 100%;
    height: auto;
  }

  .illustration img {
    height: 300px;
  }

  .skill-interest {
    flex-direction: column;
  }

  .skill,
  .interest {
    width: 100%;
    margin-bottom: 20px;
  }

  .skill > h2,
  .interest > h2 {
    font-size: 35px;
  }

  .skill-icons > .bx {
    font-size: 35px;
  }

  .interest {
    margin-top: 20px;
  }

  .interest p {
    font-size: 16px;
  }

  .contact h2 {
    font-size: 35px;
  }

  .contact-icons .bx {
    font-size: 35px;
  }
}

@media (min-width: 851px) and (max-width: 1100px) {
  .hero {
    height: auto;
    flex-direction: column;
  }

  h1 {
    font-size: 70px;
  }

  .content {
    width: 100%;
    flex-direction: row;
  }

  .headlines,
  .about p {
    text-align: center;
  }

  .headlines,
  .about {
    width: 50%;
  }

  .about {
    margin: 20px 20px;
  }

  .illustration {
    width: auto;
  }
}
